Source: python-django-collector
Section: python
Priority: optional
Maintainer: Rentalita <hello@rentalita.com>
Build-Depends: debhelper (>= 8.0), python-setuptools
Standards-Version: 3.9.2

Package: python-django-collector
Homepage: https://github.com/rentalita/django-collector
Architecture: all
Depends: python-django
Description: Collect email addresses to tell people when a start-up has launched.
 Please see a much more detailed description at:
 https://github.com/rentalita/django-collector/blob/master/README.md
