Source: python-django-collector
Section: python
Priority: optional
Maintainer: Software 6 <hello@software6.net>
Build-Depends: debhelper, python, python-setuptools
XS-Python-Version: >= 2.4
Standards-Version: 3.9.2

Package: python-django-collector
Homepage: https://github.com/software6/django-collector
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django
XB-Python-Version: ${python:Versions}
Description: Collect email addresses to tell people when a start-up has launched.
 Please see a much more detailed description at:
 https://github.com/software6/django-collector/blob/master/README.md
